*{
  box-sizing: border-box;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 }
img{
  max-height: 200px;
  width: 100%;
}
button{
  padding: 0.3rem;
  border:1px solid black;
  border-radius: 5px;
  background-color: lavender;
  width:100%;
  cursor:pointer;
}
button.add{
  background-color: aquamarine;
  width:1.5rem;
}
button.remove{
  background-color: rgb(236, 69, 69);
  width:1.5rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.row.center{
  align-items:center;
}
.col-1{
  flex-basis: 100%;
  flex-wrap: wrap;

}
.col-2{
  flex-basis: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width:800px){
  .col-1{
  flex:1;
}
.col-2{
  flex:2;
}
}
.block{
  background-color: rgb(107, 208, 208);
  padding: 1rem;
  margin:0.5rem;
}